*{
    margin: 0;
    padding: 0;
}
html {
    font-family: "Microsoft Yahei";
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0;
}
/*article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {*/
    /*display: block*/
/*}*/
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden], template {
    display: none
}
a {
    background: 0 0
}
a:active, a:hover {
    outline: 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b, strong,i,em {
    /*font-weight: 700*/
    font-style:normal;
}
dfn {
    font-style: italic
}
mark {
    background: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 1em 40px
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}
pre {
    overflow: auto
}
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}
button {
    overflow: visible
}
button, select {
    text-transform: none
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled], html input[disabled] {
    cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}
legend {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: 700
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td, th {
    padding: 0
}
body {
    /*font-family: "Helvetica Neue","Helvetica,Arial","Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;*/
    font-family:"Microsoft Yahei";
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}
a {
    color: #428bca;
    text-decoration: none
}
a:hover, a:focus {
    color: #2a6496;
    text-decoration: none
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
figure {
    margin: 0
}

img {
    vertical-align: middle
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}
ul,ol{
    list-style: none;
}

dl,dd,dt{
    margin: 0;
}
.clearfix {zoom: 1; }
.clearfix:after, .clearfix:before {
    content: "\200B";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix:after {clear: both; }

/**************************************************/

/************** border **********************/
.arrowUp_up{
    position:absolute;
    display:block;
    border:6px solid;
    border-color:transparent transparent  #ebebeb transparent;
}
.arrowUp_down{
    position:absolute;
    display:block;
    border:4px solid;
    border-color:transparent transparent #fff transparent;
}
.arrowDown_up{
    position:absolute;
    display:block;
    border:6px solid;
     border-color:#ebebeb transparent transparent transparent;
}
.arrowDown_down{
    position:absolute;
    display:block;
    border:4px solid;
    border-color:#fff transparent transparent transparent;
}

/*********************** header ************************/
.header{
    width:100%;
    height:32px;
    border-bottom:1px solid #ebebeb;
    -webkit-user-select: none;
    min-width:1200px;
    /*overflow: hidden;*/
}
/*********** HeadLeft ****************/

/******* weather *********/
.header>.hdL{
    float:left;
    min-width:310px;
    margin-left:10px;
}
.header>.hdL .hdLWeather{
    float:left;
    width:225px;
    line-height:32px;
    cursor:pointer;
}
.header>.hdL .hdLWeather span{

    padding-left:10px;
    color:#555555;
    font-size:12px;
}
.header>.hdL .hdLWeather i {
    display:inline-block;
    vertical-align:middle;
    width:18px;
    height:18px;
    background:url("img/weather1.png") no-repeat;
}
.header>.hdL .hdLWeather b{
    font-weight: bold;
    color:#bcdc00;
    padding-left:10px;
}
.header>.hdL .hdLWeather:hover .weather_popup {
     display:block;

 }

.header>.hdL .hdLWeather .weather_popup{
    position:absolute;
    top:32px;
    left:0;
    display:none;
    width:600px;
    height:239px;
    z-index:1;
    /*margin-left:-10px;*/
    border:1px solid #ededed;
    box-shadow: 1px 3px 3px #ccc;
    background-color:#fff;

}
.header>.hdL .hdLWeather .weather_popup .arrowUp_up{
    padding:0;
    top:-12px;
    left:95px;
}
.header>.hdL .hdLWeather .weather_popup .arrowUp_down{
    padding:0;
    top:-8px;
    left:97px;
}
.header>.hdL .weather_popup .weather_hd{
    width:500px;
    height:40px;
    margin:0 auto;
    line-height:40px;
    border-bottom:1px solid #ebebeb;
}
.header>.hdL .weather_popup .weather_hd b{
    float:left;
    font-size:14px;
    color:#555555;
    font-weight:normal;
    padding:0 20px 0 0;

}
.header>.hdL .weather_popup .weather_hd em{
    float:left;
    font-size:14px;
    color:#b8b8b8;
    font-weight:normal;
    padding:0 20px 0 0;
    /*line-height:40px;*/
}
.header>.hdL .weather_popup .weather_hd a{
    float:left;
    text-decoration:none;
    color:#398bfb;
}
.header>.hdL .weather_popup .weather_hd a:hover{
    text-decoration: underline;
}
.header>.hdL .weather_popup .weather_hd p{
    float:right;
    width:50px;
    height:28px;
    line-height:50px;
    color:#c3c3c3;


}
.header>.hdL .weather_popup .weather_hd p span{
    display:inline-block;
    width:20px;
    height:20px;
    padding:0;
    margin:0;
    vertical-align:middle;
    background:url('img/load_ext_spis_65c74648.png') no-repeat  -32px -99px;
}
.header>.hdL .weather_popup .weather_hd p:hover{
    color:#3388ff;
}
.header>.hdL .weather_popup .weather_hd p:hover span{
    background-position:-32px -132px;
}
.header>.hdL .weather_popup  .weather_ul{
    width:500px;
    margin:0 auto;
}
.header>.hdL .weather_popup  .weather_ul li {
    float:left;
    width:80px;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;


}
.header>.hdL .weather_popup  .weather_ul li em{
    line-height:40px;
    text-align: center;
    margin:0 auto;
    font-size:12px;

}
.header>.hdL .weather_popup  .weather_ul li img{
    display:block;
    margin:0 auto;
}
.header>.hdL .weather_popup  .weather_ul li span{
    display:block;
    line-height:20px;
    text-align: center;
    margin:0 auto;
    padding:5px 0;
}
.header>.hdL .weather_popup  .weather_ul li:hover,.header>.hdL .weather_popup  .weather_ul li:hover span{
    color:#3388ff;
}

/******* weather END *********/

/****** hdLMessage ********/
.header>.hdL .hdLMessage{
    float:left;
    display:inline-block;

}
.header>.hdL .hdLMessage span{
    margin-right:20px;
    line-height:32px;
    cursor:pointer;
}
.header>.hdL .hdLMessage a{
    color:#555555;
    font-size:14px;
    text-decoration: underline;
}
/****** hdLMessage  END********/


/*********** HeadRight ************/

.header>.hdR{
    position:relative;
    float:right;
    width:590px;
    min-width:590px;
}

.header>.hdR .hdRNav li{
    float:right;
}
.header>.hdR .hdRNav li a{
    margin-left:15px;
    line-height:32px;
    color:#555555;
    font-weight:bold;
    text-decoration: underline;
}







.header>.hdR .hdRNav li .hdRNav_setting,.header>.hdR .hdRNav li .hdRNav_userName{
    font-weight: normal;
}

/******* hdRNav_setting *********/
.header>.hdR .hdRNav .hdRNav_setting_popup {
    display: none;
    position:absolute;
    top:32px;
    z-index:2;
    right:80px;
    width:90px;
    box-shadow:1px 1px 3px #ccc;
    background-color:#fff;

    /*display:none;*/
}
.header>.hdR .hdRNav .hdRNav_setting_popup .arrowUp_up{
    right:37px;
    top:-12px;
}
.header>.hdR .hdRNav .hdRNav_setting_popup .arrowUp_down{
    right:39px;
    top:-8px;
}
.header>.hdR .hdRNav .hdRNav_setting_popup li {
    float:none;
    width:90px;
    height:30px;
    text-align:center;
    line-height:30px;
}
.header>.hdR .hdRNav .hdRNav_setting_popup li a{
    color:#090909;
    text-decoration: none;
    font-weight: 500;
    margin:0;

}
.header>.hdR .hdRNav .hdRNavLi_setting:hover .hdRNav_setting_popup{
    display:block;
}
.header>.hdR .hdRNav .hdRNavLi_setting li:hover{
    background-color:#398bfb;
}
.header>.hdR .hdRNav .hdRNavLi_setting li:hover a{
    color:#fff;
}
/******* hdRNav_setting END ********/
/******* hdRNav_userName *********/

.header>.hdR .hdRNav .hdRNav_userName_popup{
    display:none;
    position:absolute;
    top:32px;
    right:130px;
    z-index:1;
    box-shadow: 1px 1px 3px #ccc;
    background-color:#fff;
}
.header>.hdR .hdRNav .hdRNav_userName_popup .arrowUp_up{
    right:50px;
    top:-12px;
}
.header>.hdR .hdRNav .hdRNav_userName_popup .arrowUp_down{
    right:52px;
    top:-8px;
}
.header>.hdR .hdRNav .hdRNav_userName_popup li{
    float:none;
    width:100px;
    height:30px;
    text-align:center;
    line-height:30px;
}
.header>.hdR .hdRNav .hdRNav_userName_popup li a{
    color:#090909;
    text-decoration: none;
    font-weight: 500;
    margin:0;

}
.header>.hdR .hdRNav .hdRNavLi_userName:hover .hdRNav_userName_popup{
    display:block;
}
.header>.hdR .hdRNav .hdRNav_userName_popup li:hover {
    background-color:#398bfb;

}
.header>.hdR .hdRNav .hdRNav_userName_popup li:hover a{
    color:#ffffff;
}
/******* hdRNav_userName END*********/


/****** hdRMore ******/
.header>.hdR .hdRMore{
    float:right;
    width:86px;
    height:32px;
    margin-left:15px;
    text-align:center;
    background-color:#398bfb;
    cursor:default;
}
.header>.hdR .hdRMore span{
    line-height:32px;
    color:#fff;
    font-size:14px;

}
.header>.hdR .hdRMore .hdRMore_popup {
    display:none;
    position:absolute;
    top:0;
    right:0;
    width:86px;
    background-color:#f9f9f9;

}

.header>.hdR .hdRMore .hdRMore_popup span{
    display:block;
    width:80px;
    height:38px;
    margin: 0 auto 5px;
    /*border-bottom: 1px solid #f0f0f0;*/
    color:#5b5b5b;
}

.header>.hdR .hdRMore .hdRMore_popup li {
    width:80px;
    height:80px;
    margin:0 3px;

}
.header>.hdR .hdRMore .hdRMore_popup a{
    display:block;
    /*margin:10px 0 0 0;*/
    font-size:12px;
    color:#5b5b5b;
    border-top:1px solid #f0f0f0;
    line-height:40px;
}
.header>.hdR .hdRMore .hdRMore_popup li a{
    display:block;
    width:80px;
    height:80px;
    margin:0;
    border-top:1px solid #f0f0f0;
    color:#5b5b5b;
    line-height:normal;

}
.header>.hdR .hdRMore .hdRMore_popup li img {
    width:40px;
    height:36px;
    padding: 10px 20px;
    vertical-align:middle;
}
.header>.hdR .hdRMore .hdRMore_popup li a:hover{
    text-decoration: dotted;
}

.header>.hdR .hdRMore:hover>.hdRMore_popup{
    display:block;
}

/****** hdRMore END******/





/********************** Logo *********************************/

.logo{
    position:relative;
    width:600px;
    min-width:600px;
    margin:60px auto 0;
}
.logo > .lgTitle{

    width:270px;
    height:130px;
    margin:0 auto;
}
.logo > .lgTitle img{
    width:270px;
    height:130px;
    vertical-align:middle;
    z-index:0;
    border:none;

}
.logo > form{
    position:relative;
    margin:0 5px;
    min-width:600px;

}
.logo > form input[type=text]{

    width:475px;
    height:38px;
    padding:0 0 0 15px;

    outline: none;
    /*border-right:none;*/
    border:1px solid #3388ff;
}
.logo > form input[type=button]{
    width:100px;
    height:40px;
    margin-left: -4px;
    border:none;
    outline:none;
    background-color:#3388ff;
    color:#fff;
}
.logo > form .photo{
    display:block;
    width:18px;
    height:16px;
    background:url("img/camera_new_679c15cc.png") no-repeat;
    position:absolute;
    top:12px;
    left:465px;
    cursor:pointer;

}

.logo > .searcher_popup{
    display:none;
    position:absolute;
    top:170px;
    left:5px;
    width:490px;
    z-index:5;
    box-shadow:1px 1px 3px #ccc;
    background-color:#fff;

}
.logo > .searcher_popup li a {
    display:block;
    width:470px;
    height:30px;
    padding:0 10px;
    line-height:30px;
    font-weight:bold;
    color:#090909;
    cursor:default;

}
.logo > .searcher_popup li a:hover{
    background-color:#efefef;
}



.logo > form a:hover{
    background-position: 0  -20px;
}
.logo > form input[type=button]:hover{
    background-color:#317ef3;
}



/***************  logo_popup  *******************/

.logo_popup {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    min-width:1200px;
    height:60px;
    z-index:10;
    background-color:rgba(255,255,255,0.9);
    box-shadow: 1px 1px 3px #ccc;
}
.logo_popup .logo_popup_cont{
    min-width:800px;
    width:800px;
    height:60px;
    margin:0 auto;
}
.logo_popup .logo_popup_cont img{
    display:block;
    float:left;
    width:101px;
    height:36px;
    margin: 4px 10px 20px 0;
}
.logo_popup .logo_popup_cont form{
    position:relative;
    float:left;
    width: 600px;
    height:60px;
    padding:10px 0;
}

.logo_popup .logo_popup_cont form input[type=text]{

    width:475px;
    height:38px;
    padding:0 0 0 15px;

    outline: none;
    /*border-right:none;*/
    border:1px solid #3388ff;
}
.logo_popup .logo_popup_cont form input[type=button]{
    width:100px;
    height:40px;
    margin-left: -4px;
    border:none;
    outline:none;
    background-color:#3388ff;
    color:#fff;
}
.logo_popup .logo_popup_cont form .photo{
    display:block;
    width:18px;
    height:16px;
    background:url("img/camera_new_679c15cc.png") no-repeat;
    position:absolute;
    top:22px;
    left:465px;
    cursor:pointer;

}

.logo_popup .logo_popup_cont form a:hover{
    background-position: 0  -20px;
}
.logo_popup .logo_popup_cont form input[type=button]:hover{
    background-color:#317ef3;
}
/***************  END logo_popup  *******************/


/********************** Content *********************************/

.content{
    position:relative;
    width:900px;
    height:400px;
    margin:80px auto;
    border: 1px solid #efefef;
}
/*************** contNav ***************/
.content >.contNav{
    height:40px;
    position:relative;
    border-bottom:1px solid #efefef;
    cursor:pointer;
}

.content > .contNav li{
    float:left;
    position:relative;
    width:80px;
    text-align:center;
    line-height:40px;
}

.content > .contNav li.cont_concern{
    width:130px;
}

.content > .contNav li.cont_concern span{
    display:block;
    position:absolute;
    top:11px;
    left:11px;
    float:left;
    /*padding-right:5px;*/
    width:20px;
    height:20px;
    background:url("img/headbg.png") no-repeat -12px 0;
}

.content > .contNav li:hover{
    background-color:#b3b6bb;
    color:#fff;

}
.content > .contNav li:hover span{
    background-position:-141px 0;
}

.content > .contNav li.contNavBg{
    background-color:#9a9da2;
    font-weight: 700;
    color:#fff;
}

.content > .contNav li.contNavBg span{
    background-position:-141px 0;
}

/**************** contNav_setting **************************/
.content > .contNav .contNav_setting{

    display:block;
    float:right;
    width:20px;
    height:20px;
    margin:10px 20px  ;
    background:url("img/headbg.png") no-repeat -120px -48px;
    cursor:pointer;
}

.content > .contNav .contNav_setting:hover{
    background-position:-120px -72px;
}

.content > .contNav_setting_popup{
    position:absolute;
    top:35px;
    left:0;
    display:none;
    width:898px;
    height:0;
    z-index:3;
    border:1px solid #efefef;
    box-shadow: 1px 1px 2px #ccc;
    background-color:#fff;



}
.content > .contNav_setting_popup .contNav_setting_popup_Cont{
    width:854px;
    height:135px;
    margin:25px 0 0 10px;
    border-bottom:1px solid #efefef;

}
.content > .contNav_setting_popup .contNav_setting_popup_Cont dl{
    float:left;
    width:409px;
    height:135px;
    margin-right:15px;

}

.content > .contNav_setting_popup .contNav_setting_popup_Cont dl dt{
    height:30px;
    line-height:30px;
    color:#666;
}
.content > .contNav_setting_popup .contNav_setting_popup_Cont dl dd{
    margin-top:10px;
    cursor:default;
}

.content > .contNav_setting_popup .contNav_setting_popup_Cont .contNavSettingFocus_My {
    display:inline-block;
    width:76px;
    height:26px;
    text-align:center;
    line-height:26px;
    margin-right:13px;
    vertical-align: top;
    color:#666;
    border:1px solid #cdcdcd;
}
.content > .contNav_setting_popup .contNav_setting_popup_Cont dl .contNavSettingFocus_ul {
    display: inline-block;
    width:310px;
    -webkit-user-select: none;
}
.content > .contNav_setting_popup .contNav_setting_popup_Cont dl .contNavSettingFocus_ul li {
    position: relative;
    float:left;
    width:55px;
    height:26px;
    line-height:26px;
    text-align:center;
    margin:0 15px 10px 0;
    border:1px dashed #cdcdcd;
    color:#666;
    background-color:#fff;
    cursor:pointer;
}
.content > .contNav_setting_popup .contNav_setting_popup_Cont dl .contNavSettingFocus_ul li i{
    position:absolute;
    top:-8px;
    left:-8px;
    display:block;
    width:15px;
    height:15px;
    background:url("img/card_setting_c0307230.png") no-repeat -40px -25px;
}

.content > .contNav_setting_popup .contNav_setting_popup_Cont dl .contNavSettingFocus_ul li:hover{
    border-color:#38f;
}
.content > .contNav_setting_popup .contNav_setting_popup_Cont dl .contNavSettingFocus_ul li:hover i{
    background-position:-21px -25px;
}

.content > .contNav_setting_popup .contNav_setting_popup_Cont dl .contNavSettingNoFocus_ul{
    width:409px;
    cursor:default;
    -webkit-user-select: none;
}
.content > .contNav_setting_popup .contNav_setting_popup_Cont dl .contNavSettingNoFocus_ul li {
    position: relative;
    float:left;
    width:55px;
    height:26px;
    line-height:26px;
    text-align:center;
    padding-left:10px;
    margin:0 15px 10px 0;
    border:1px solid #cdcdcd;
    color:#666;
    background-color:#fff;
    cursor:pointer;
}
.content > .contNav_setting_popup .contNav_setting_popup_Cont dl .contNavSettingNoFocus_ul li em{
    position:absolute;
    top:8px;
    left:8px;
    display:block;
    width:8px;
    height:8px;
    background:url("img/card_setting_c0307230.png") no-repeat -60px -28px;
}
.content > .contNav_setting_popup .contNav_setting_popup_Cont dl .contNavSettingNoFocus_ul li:hover{
    background-color:#38f;
    color:#fff;
}
.content > .contNav_setting_popup .contNav_setting_popup_Cont dl .contNavSettingNoFocus_ul li:hover em{
    background-position:-76px -28px;
}

.content > .contNav_setting_popup .contNav_setting_popup_footer {
    width:818px;
    height:40px;
    margin: 0 auto;
}
.content > .contNav_setting_popup .contNav_setting_popup_footer div{
    float:right;
    line-height:40px;
    margin-right:30px;
    cursor:default;
}


.content > .contNav_setting_popup .contNav_setting_popup_footer div i {
    display:inline-block;
    width:14px;
    height:14px;
    vertical-align:middle;
    background:url("img/card_setting_c0307230.png") no-repeat -128px -25px;
}

.content > .contNav_setting_popup .contNav_setting_popup_footer div b{
    display:inline-block;
    width:17px;
    height:17px;
    margin-left:10px;
    vertical-align: middle;
    background:url("img/card_setting_c0307230.png") no-repeat -147px -24px;
}



/**************** END contNav_setting **************************/


/************** END contNav****************/


/***************  news ********************/
.contDetails > .news{

    display:block;
    position:relative;
    width:850px;
    height:360px;
    /*background-color:#ccc;*/
    padding:0 25px;
    overflow:hidden;
}


.contDetails > .news .newsLeft{
    position:relative;
    float:left;
    display:block;
    width:530px;
    height:360px;
    /*background-color:#398bfb;*/

}

.newsLeft .newsTitle{
    width:530px;
    height:40px;
}
.newsLeft .newsTitle .nLtline{
    display:block;
    width:530px;
    height:28px;
    border-bottom:1px solid #efefef;
}
.newsLeft .newsTitle .nLtbox{
    position:absolute;
    top:23px;
    left:180px;
    /*height:20px;*/
    padding:0 5px;
    /*text-align:center;*/
    line-height:14px;
    font-size:12px;
    background-color:#fff;
    color:#ccc;
}

.newsLeft .newsTitle .nLtbox em{
    display:inline-block;
    width:14px;
    height:14px;
    vertical-align:top;
    background:url("img/news_7dd96f5d.png") no-repeat -45px -1px;
}

.news .newsLeft .newsLeftContent ul {
    width:520px;
    padding: 0 5px;
    margin-top:10px;
}


.news .newsLeft .newsLeftContent ul li{
    position:relative;
    width:520px;
    margin-top:5px;
    border-bottom:1px solid #efefef;

}

.news .newsLeft .newsLeftContent ul li h2{
    display:block;
    height:30px;
    line-height: 30px;
    font-size:18px;
}

.news .newsLeft .newsLeftContent ul li h2 a{
    color:#090909;
    font-weight:bold;
}
.news .newsLeft .newsLeftContent ul li h2 i{
    display:inline-block;
    width:16px;
    height:16px;
    margin:-4px 2px 0 0;
    text-align:center;
    line-height:16px;
    background-color:#ff0000;
    color:#fff;
    font-size:12px;
    vertical-align:middle;
    cursor:default;
}
.news .newsLeft .newsLeftContent ul li:hover .nolos{
    display:block;
}
.news .newsLeft .newsLeftContent ul li h2 .nolos{
    display:none;
    position:absolute;
    top:0;
    right:10px;
    width:15px;
    height:15px;
    z-index:3;
    /*background-color:#ccc;*/
    background:url("img/dustbin1_ec5b2acc.png") no-repeat;
}
.news .newsLeft .newsLeftContent ul li h2 .nolos:hover{
    background-position:0 -14px;
}

.news .newsLeft .newsLeftContent ul li .picBox{
    width:520px;
    height:106px;
    padding:2px 0;
    /*margin-bottom:15px;*/
}

.news .newsLeft .newsLeftContent ul li .picBox>a{
    display:inline-block;
    width:168px;
    height:106px;
    margin-left:2px;
    /*vertical-align:middle;*/
    background:url("img/default.gif")no-repeat center;
}
.news .newsLeft .newsLeftContent ul li .picBox a>img{
    display:none;
    width:168px;
    height:106px;
    margin-left:2px;
    vertical-align:middle;
    opacity:0;
    border:none;
}

.news .newsLeft .newsLeftContent ul li .newsTime{
    height:20px;
    padding:15px 0;
}
.news .newsLeft .newsLeftContent ul li .newsTime a{
    color:#7f7f7f;
    font-size:16px;
    margin-right:10px;
}
.news .newsLeft .newsLeftContent ul li .newsTime span{
    color:#7f7f7f;
    cursor:default;
    padding-right:10px;
}

.news .newsLeft .newsLeftContent ul li .picBoxR{
    float:right;
    margin: 20px 10px 0 0 ;
    width:170px;

}

.news .newsLeft .newsLeftContent ul li .contentTitle {
    display:inline-block;
    margin:20px 0 0 0;
    width:335px;
    height:80px;
}


.news .newsLeft .newsLeftContent .nolos_popup{
    display:none;
    position:absolute;
    top:-38px;
    right:-30px;
    width:70px;
    height:28px;
    text-align: center;
    line-height:28px;
    color:#7f7f7f;
    font-size:12px;
    font-weight:500;
    background-color:#fff;
    box-shadow:1px 1px 3px #ccc;

}


.news .newsLeft .newsLeftContent .nolos_popup .arrowDown_up{
    top:28px;
    left:28px;
}
.news .newsLeft .newsLeftContent .nolos_popup .arrowDown_down{
    top:28px;
    left:30px;
}


.news .newsLeft .newsLeftContent ul li h2 .nolos:hover  .nolos_popup{
    display:block;
}




/************** newsRight *************/

.contDetails > .news .newsRight{
    /*position:fixed;*/
    /*top:0;*/
    /*right:0;*/
    float:left;
    width:300px;
    margin:10px 0 0 20px;
    /*background-color:#ccc;*/
}

.news .newsRight .newsRTitle{
    /*width:300px;*/
    padding:0 10px;
    height:50px;
    line-height:50px;
}
.news .newsRight .newsRTitle span{
    /*margin-left:10px;*/
    color:#090909;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;
}
.news .newsRight .newsRTitle .newsRChange{
    display:inline-block;
    float:right;
    /*margin-right:10px;*/
    font-size:14px;
    color:#090909;
}

.news .newsRight .newsRTitle .newsRChange i{
    display:inline-block;
    width:18px;
    height:16px;
    vertical-align:middle;
    background:url("img/news_7dd96f5d.png") no-repeat -23px -24px ;
    /*background-color:#317ef3;*/

}
.news .newsRight .newsRTitle .newsRChange:hover{
    color:#317ef3;
}
.news .newsRight .newsRTitle .newsRChange:hover i{
    background-position:-23px -41px;
}

.news .newsRight .newsRCont{
    position:inherit;
    top:90px;
    right:175px;

}

.news .newsRight .newsRCont ul{
    float:left;
    width:150px;
    cursor:pointer;
}

.news .newsRight .newsRCont ul li{
    position:relative;
    margin:10px 0;
    max-width:150px;
    /*width:150px;*/
}
.news .newsRight .newsRCont ul li em {
    display:inline-block;
    width:1px;
    height:1px;
    vertical-align:middle;
    border:1px solid #333;
    background-color:#333;

}
.news .newsRight .newsRCont ul li span{

    display:inline-block;
    width:100px;
    height:16px;
    line-height:16px;
    vertical-align:middle;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news .newsRight .newsRCont ul li b{
    display:inline-block;
    width:16px;
    height:16px;
    vertical-align:middle;
    text-align:center;
    line-height:16px;
    font-size:10px;
    font-weight:100;
    color:#fff;
    background-color:#ff0000;
}
.news .newsRight .newsRCont ul li:hover .newsRContP_popup{
    display:block;
}
.news .newsRight .newsRCont ul li:hover span{
    color:#317ef3;
}
.news .newsRight .newsRCont ul li span .newsRContP_popup{
    display:none;
    position:absolute;
    top:22px;
    left:15px;
    width:260px;
    height:115px;
    z-index:1;
    padding:10px;
    border:1px solid #ccc;
    box-shadow: 1px 1px 3px #ccc;
    background-color:#fff;
}
.news .newsRight .newsRCont ul li span .newsRContP_popup .arrowUp_up {
    top:-12px ;
    left :11px ;
}
.news .newsRight .newsRCont ul li span .newsRContP_popup .arrowUp_down {
    top:-8px ;
    left :13px ;
}

.news .newsRight .newsRCont ul li span .newsRContP_popup a{

    font-size:14px;
    color:#317ef3;
}
.news .newsRight .newsRCont ul li span .newsRContP_popup em{
    display:inline;
    font-size:14px;
    text-decoration: dashed;
    color:#ff0000;
    background-color:#fff;
    border:none;
}
.news .newsRight .newsRCont ul li span .newsRContP_popup p{
    width:260px;
    height:40px;
    padding:10px 0;
    color:#090909;
    white-space: normal;
}

    /*************** news newsMore ***********************/
.news .newsMore{
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-50px;
    /*display:block;*/
    width:100px;
    height:50px;
    /*background-color:#ccc;*/
    z-index:5;
    overflow:hidden;
    cursor:pointer;

}

.news .newsMore .newsMore_circle{
    position:relative;
    width:60px;
    height:60px;
    margin:15px auto 0;
    border:2px solid #ccc;
    border-radius:50%;
    background-color:#333;
    opacity:0.8;
}

.news .newsMore_circle .newsMore_down{
    position:absolute;
    top:19px;
    left:50%;
    margin-left:-15px;
    width:30px;
    height:15px;
    background:url("img/headbg.png") no-repeat -110px -1px;
    /*background-position:;*/
}

/*************** END news newsMore ***********************/







